<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <mat-card class="card">
<!--    <h2>Today's weather in Cracow</h2>-->
<!--    <img [src]="forecast['specificWeather'] ? getWeatherImage(forecast['currentWeather']) : ''" alt="Weather Icon"/>-->
<!--    <p>{{forecast['specificTemperature']}}°C</p>-->
    <div class="title">Select a specific date...</div>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="showWeather()">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="time" placeholder="Choose a time" formControlName="time">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Show Weather</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
