.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.mat-card-header {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}
