.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130vh;
}

.card {
  width: 400px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
  position: absolute;
  top: 460px;
}

img {
  width:20%;
  position: absolute;
  top:70px;
}
