h1, mat-tab-group {
  text-align: center;
}

p {
  display: inline-block;
  font-size: 9em;
  font-weight: bold;
  margin-left: 10px;
}

img {
  width: 20%;
}

h2 {
  font-size: 2.5em;
  margin-top: 50px;
}

